.tix-main {
  margin-top: 50px;
  .text-underline {
    text-decoration: underline;
  }
  .text-bold {
    font-weight: bold;
  }
  .img {
    width: 200px;
    height: 200px;
    margin-left: 130px;
  }
}
.tix-contents {
  margin-top: 110px;
  li {
    list-style-type: decimal;
    a {
      text-decoration: none;
      color: darkgrey;
      font-size: 12px;
    }
  }
}
